<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sulav.coolnotifications">

    <!--<uses-permission android:name="android.permission.INTERNET"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".receiver.JsonNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sulav.action.POST_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <service android:name=".NotificationService"
            android:exported="false"/>
    </application>
</manifest>
